/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    --text-color-dac: #DB00FF;
    --shadow-color: #FF0070;
    --back-color: #ff0070;
    --back-main: #FFF1F7;
    --color-back-main: #FFF1F7;
    --color-text-fil: #F1B2CE;
    --color-back: #000028;

    --text-color-button: #FF0070;
    --shadow-color-link: #FF0070;

    --text-color-subtitle: #FF0070;
    --border-menu: #FF007066;
    --text-color-title: #000028;
    --dec-color: #FF0070;

    --back-img-head: url("../images/cover-image-dark.png");

    --rec-decor-vis: visible;
}

@media (prefers-color-scheme: dark) {
    .page {
        --text-color-dac: #DB00FF;
        --shadow-color: #FF0070;
        --back-color: #ff0070;
        --back-main: #FFF1F7;
        --color-back-main: #FFF1F7;
        --color-text-fil: #F1B2CE;
        --color-back: #000028;

        --text-color-button: #FF0070;
        --shadow-color-link: #FF0070;

        --text-color-subtitle: #FF0070;
        --border-menu: #FF007066;
        --text-color-title: #000028;
        --dec-color: #FF0070;

        --back-img-head: url("../images/cover-image-dark.png");

        --rec-decor-vis: visible;
    }
}

