/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --text-color-dac: #FFC2E6;
    --shadow-color: #FF0070;
    --back-color: #FF8DCB;
    --back-main-pink: #FFF1F7;
    --color-back: #FFF1F7;
    --color-text-fil: #353430;

    --text-color-button: #353430;
    --text-color-subtitle: #000028;
    --border-menu: #32312D66;
    --text-color-title: #353430;
    --dec-color: #353430;

    --back-img-head: url("../images/cover-image-light.png");
    --rec-decor-vis: hidden;
}

@media (prefers-color-scheme: light) {
    .page {
        --text-color-dac: #FFC2E6;
        --shadow-color: #FF0070;
        --back-color: #FF8DCB;
        --back-main-pink: #FFF1F7;
        --color-back: #FFF1F7;
        --color-text-fil: #353430;

        --text-color-subtitle: #000028;
        --border-menu: #32312D66;
        --text-color-title: #353430;
        --dec-color: #353430;

        --back-img-head: url("../images/cover-image-light.png");
        --rec-decor-vis: hidden;
    }
}

