/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --text-color-dac: #FFC2E6;
    --shadow-color-pink: #FF0070;
    --back-color-pink: #FF8DCB;
    --back-main-pink: #FFF1F7;
    --color-back-main: #FFF1F7;
    --color-text-2: #353430;

    --text-color-1: #353430;
    --inl-colot-black: #32312D66;
    --text-color-3: #000028;
    --border-menu: #32312D66;
    --text-color-title: #353430;

    --back-img-head: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
    .page.theme_auto {

    }
}

