/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
    background-color: var(--color-back, #FFF1F7);
    max-width: 1024px;
    margin: 0 auto;
    background-image: var(--back-img-head, url("../images/cover-image-light.png"));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.link {
    text-decoration: none;
    text-shadow: 2px 2px 0 var(--shadow-color, #ff0070);
}


.rec-decor {
    position: absolute;
    z-index: -1;
    visibility: var(--rec-decor-vis, visible);
    display: inline-flex;
    align-items: center;
    gap: 10px;
    inset-inline-end: 30px;
    inset-block-start: 20px;
}

.rec-decor::after {
    content: "";
    display: inline-block;
    background: var(--shadow-color, #ff0070);
    box-shadow: 0 0 2px 2px var(--shadow-color, #ff0070);
    border-radius: 50%;
    block-size: 10px;
    inline-size: 10px;
}

.rec-decor::before {
    content: "REC";
    line-height: 24px;
    color: var(--shadow-color, #ff0070);
}

.shadow {
    text-shadow: 4px 4px 0 var(--shadow-color, #FF0070);
}

.header {
    margin: 0 auto 60px;
    min-height: 668px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.header__theme-menu {
    width: 230px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

.header__theme-menu-list {
    display: flex;
    gap: 10px;
    max-width: 230px;
}

.header__theme-menu-button {
    border: 1px solid transparent;
    padding: 2px 12px;
    color: var(--text-color-1, #353430);
    line-height: 18px;
    text-transform: lowercase;
    background: transparent;
    cursor: pointer;
    text-align: center;
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.header__theme-menu-button_active {
    border-color: currentColor;
    cursor: default;
    pointer-events: none;
}

.header__theme-menu-button:focus {
    outline: 0;
}

.header__theme-menu-button:focus-visible {
    border-block-end-color: currentColor;
}

.header__theme-menu-button:hover {
    border-color: var(--border-menu, #32312D66);
}

.header__decoration-text {
    color: var(--text-color-dac, #FFC2E6);
    font-family: "IBM Plex Mono", sans-serif;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;

}

.header__description-text_cont {
    width: 100%;
    display: flex;
    justify-content: end;
}

.header__description-text {
    color: var(--text-color-3, #32312D66);
    background-color: var(--back-color, #FF8DCB);
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
    max-width: 48%;
    margin-bottom: 134px;
    margin-right: 20px;
}


.main {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 20px;
    gap: 20px;
}

.section__title {
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
    max-width: 100%;
    min-width: 32% ;
    color: var(--text-color-1, #353430);
}

.section__title.section__extra {
    width: 30%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 20px;
}

.section__filling {
    color: var(--color-text-2, #353430);
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section__filling-subtitle {
    background: var(--back-color, #FF8DCB);
    color: var(--text-color-3, #32312D66);
    font-weight: 700;
    font-size: 18px;
    font-family: "IBM Plex Mono", sans-serif;
}

.section__filling-about {
    color: var(--color-text-2, #353430);
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.4px;
}

.section-versa {
    flex-direction: column;
    padding: 0 20px;
}

.wrapper_versa {
    flex-direction: row;
}

.section__filling_versa {
    width: 100%;
}

.extra {
    font-weight: 400;
}

.in-images {
    padding: 0 20px;
    width: 100%;
}

.in-images__title {
    color: var(--text-color-title, #353430);
    background-color: var(--back-color, #FF8DCB);
    font-family: "IBM Plex Mono", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.4px;
    margin-bottom: 20px;
    width: 100%;
}

.in-images__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
}

.in-images__list-item_el {
    display: block;
    object-fit: cover;
    object-position: center;
    block-size: 100%;
    inline-size: 100%;
}

.in-images__list-item:first-child, .in-images__list-item:last-child {
    grid-column-start: span 2;
}

.in-images__list-item:nth-child(2), .in-images__list-item:nth-child(3) {
    grid-row-start: span 2;
}

.footer {
    width: 100%;
    height: 100vh;
    margin: 60px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 768px;
    padding: 20px;
    position: relative;
}

.footer-title {
    color: var(--text-color-dac, #FFC2E6);
    font-family: "IBM Plex Mono", sans-serif;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    font-style: normal;
    font-weight: 700;
    line-height: 82.5%;

}

.decorated-zone::after,
.decorated-zone::before {
    content: "";
    position: absolute;
    inline-size: 25px;
    block-size: 25px;
    z-index: 1;
}

.decorated-zone::after {
    border-inline-end: 1px solid var(--dec-color, #FF0070);
    border-block-start: 1px solid var(--dec-color, #FF0070);
    inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::before {
    border-inline-start: 1px solid var(--dec-color, #FF0070);
    border-block-end: 1px solid var(--dec-color, #FF0070);
    inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
    inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}



@media (width <= 768px) {

    .page {
        max-width: 768px;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-content: space-between;
        padding-top: 20px;
        padding-bottom: 35px;

    }

    .header__theme-menu {
        align-items: end;
        margin-right: 20px;

        flex-direction: column;
    }

    .header__theme-menu-list {
        flex-direction: column;
    }

    .header__decoration-text {
        margin-left: 10px;
        margin-top: 20px;
    }



    .section__title {
        width: 35%;
    }

    .wrapper_versa {
        flex-direction: column;
    }

}

@media (width <= 375px) {

    .header__theme-menu {
        margin-right: 10px;
    }

    .header__description-text {
        max-width: 100%;
    }

    .header__decoration-text {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .header__description-text_cont {
        width: 100%;
    }

    .header__description-text {
        width: 100%;
        margin: 0 10px;
    }

    .main {
        width: 100%;
    }

    .section {
        flex-direction: column;
        width: 100%;
    }

    .section__title {
        width: 100%;

    }

    .section__filling {
        width: 100%;
    }

    .section-versa {
        flex-direction: column;
    }

    .in-images__list {
        display: flex;
        flex-direction: column;
    }

    .footer-title {
        font-size: clamp(7.25rem, 7.5271rem + -0.4329vw, 7.5rem);
    }


}