/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --text-color-dac: #DB00FF;
    --shadow-color: #FF0070;
    --back-color: #FF0070;
    --back-main: #FF0070;
    --color-text-fil: #F1B2CE;

    --text-color-button: #FF0070;
    --inl-colot-black: #32312D66;
    --text-color-subtitle: #FF0070;;
    --border-menu: #FF007066;
    --text-color-title: #000028;
    --dec-color: #FF0070;

    --back-img-head: url("../images/cover-image-dark.png");

    --rec-decor-vis: visible;
}
