/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --text-color-dac: #FFC2E6;
    --shadow-color: #FF0070;
    --back-color: #FF8DCB;
    --back-main-pink: #FFF1F7;
    --color-back: #000028;
    --color-text-fil: #353430;

    --text-color-button: #353430;
    --text-color-subtitle: #000028;
    --border-menu: #32312D66;
    --text-color-title: #000028;
    --dec-color: #353430;

    --back-img-head: url("../images/cover-image-light.png");
    --rec-decor-vis: hidden;
}
